{% extends 'base.html.twig' %}



{% block body %}
<link rel="stylesheet" href="{{asset('/css/offers.css')}}" />





<div class="offers-move">
    <table class="table">

{% for offer in offers %}
        <tbody>

            <tr>
                <td>
                   {% if not app.user %}
                    <a href="{{ path('offers_show', {'id': offer.id}) }}" class="show">{{offer.name}}</a>

                    {% elseif app.user %}
                      <a href="{{ path('offers_buy', {'id': offer.id}) }}" class="show">{{offer.name}}</a>


        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            {% endif %}

        </tbody>
          {% endfor %}
    </table>

</div>

{% endblock %}
