{% extends 'base.html.twig' %}



{% block body %}

<link rel="stylesheet" href="{{asset('/css/show-offer.css')}}" />

    <table class="table">
        <tbody>

            <tr>
            <th></th>
                <td><p class="name">{{ offer.name }}</p></td>
            </tr>
            <tr>
                <th></th>
                <td><p class="desc">{{ offer.descriptions }}</p></td>
            </tr>
            <tr>
                <th></th>
                <td><p class="price">${{ offer.price }}</p></td>
            </tr>
            <tr>

            <td><p class="btn-order"><a href="{{ path('offers_buy', {'id': offer.id}) }}">ORDER</a></p></td>
            </tr>

        </tbody>
    </table>
<a href="{{ path('offers_index') }}" class="back">back to offers</a>


{% endblock %}
